table, th, td {
  border: 1px solid black;  
  text-align: center;   
}
.cipars{
  width: 2%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;

}
.cipars2{
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;

}

table {
  width: 50%;
  border-collapse: collapse;
  text-align: center;
}

.center {
margin-left: auto;
margin-right: auto;
}

th, td {
  text-align: left;
  padding: 15px;
  text-align: center;
}

thead {
  background-color: rgb(76, 173, 230);
  text-align: center;
}

body {

text-align: center;
background-image: linear-gradient(135deg, rgba(159, 159, 159, 0.46) 0%, rgba(159, 159, 159, 0.46) 14.286%,rgba(165, 165, 165, 0.46) 14.286%, rgba(165, 165, 165, 0.46) 28.572%,rgba(171, 171, 171, 0.46) 28.572%, rgba(171, 171, 171, 0.46) 42.858%,rgba(178, 178, 178, 0.46) 42.858%, rgba(178, 178, 178, 0.46) 57.144%,rgba(184, 184, 184, 0.46) 57.144%, rgba(184, 184, 184, 0.46) 71.43%,rgba(190, 190, 190, 0.46) 71.43%, rgba(190, 190, 190, 0.46) 85.716%,rgba(196, 196, 196, 0.46) 85.716%, rgba(196, 196, 196, 0.46) 100.002%),linear-gradient(45deg, rgb(252, 252, 252) 0%, rgb(252, 252, 252) 14.286%,rgb(246, 246, 246) 14.286%, rgb(246, 246, 246) 28.572%,rgb(241, 241, 241) 28.572%, rgb(241, 241, 241) 42.858%,rgb(235, 235, 235) 42.858%, rgb(235, 235, 235) 57.144%,rgb(229, 229, 229) 57.144%, rgb(229, 229, 229) 71.43%,rgb(224, 224, 224) 71.43%, rgb(224, 224, 224) 85.716%,rgb(218, 218, 218) 85.716%, rgb(218, 218, 218) 100.002%);
  }



.btn{
 margin-left: auto;
 margin-right: auto;
  display: block;
  border: 2px solid rgb(55, 168, 233);
  font-size: 15px;
  line-height: 1;
  padding: 16px 30px; 
  border-radius: 30px;
  background:rgb(253, 253, 253);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.1s linear;
  
  }
  .btn:hover{
    background: rgb(55, 168, 233);
  
  }
  .btn:active{
    background: rgb(32, 149, 216);
  }
